
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-roboto: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$tertiary-dark-3: #28262C;
$tertiary-dark-2: #66666E;
$tertiary-dark-1: #9999A1;
$tertiary-light-2: #E6E6E9;
$tertiary-light-1: #FFFFFF;
